---
import type { ImageMetadata } from "astro";
import { getImage } from "astro:assets";

interface rops {
    desktopImgUrl: string | ImageMetadata;
    alt: string;
}

const { src, alt, title, description, anchor, github } = Astro.props;

const desktopImg = await getImage({
    src: src,
    format: "webp",
    width: 800,
    height: 200,
});
---

<div class="w-full flex justify-center items-center gap-7">
    <img src={desktopImg.src} alt={alt} class="w-1/2 rounded-lg" />
    <div class="w-1/2 flex flex-col gap-3">
        <h3 class="text-2xl font-bold">{title}</h3>
        <p class="text-[#98A2AF]">{description}</p>
        <div class="flex content-center gap-3 mt-2">
            <a href={github} class="flex items-center bg-white text-black px-3 rounded-lg hover:scale-110 transition-all">
                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path
                        d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                    ></path></svg
                >
            </a>
            <a
                href={anchor}
                class="link flex align-center gap-3 bg-white w-max text-black font-bold rounded-lg px-6 py-2"
            >
            Live
            <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="rotate-45 transition-all"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M9 15l6 -6"></path>
                <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"
                ></path>
                <path
                    d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"
                ></path>
            </svg>
            </a>
        </div>
    </div>
</div>

<style>
    a.link:hover svg {
        transform: rotate(90deg);
        margin-left: 10px;
    }
</style>
